<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/webcam-easy@1.1.1/dist/webcam-easy.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" type="image/svg" href="{{url_for('static', filename='favicon.svg')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='clear.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='capture.css')}}">
    <title>Document Scanner</title>
</head>
<body>
    <div class="exam-pic-camera">
        <div class="video-container">
            <video id="webCam" autoplay playsinline></video>
        </div>
        <div class="float-canva canva-container">
            <canvas id="canvas"></canvas>
        </div>
        <div class="float-canva final-output">
            <canvas id="canvas-to-send"></canvas>
        </div>
        <button id="snap" onclick="snap(); return true;" class="cam-opt" download><i class="fa fa-camera"></i></button>
        <button id="send" onclick="send(); return true;" class="cam-opt" download><i class="fa fa-paper-plane"></i></button>
        <button id="retry" onclick="retry();" class="cam-opt" download><i class="fa fa-eraser"></i></button>
        <button id="flip" onclick="webcam.flip();webcam.start();return true;" class="cam-opt"><i class="fa fa-rotate-right"></i></button>
        <button id="menu" onclick="sendToIbrep()" class="cam-opt"><div class="ibrep-icon"></div></button>
    </div>
    <script>
        const webCamElement = document.getElementById("webCam");
        const canvasElement = document.getElementById("canvas");
        const canvasToSend = document.getElementById("canvas-to-send");
        const webcam = new Webcam(webCamElement, "user", canvasElement);

        var gabaritoData;
        var errors;
        var questionCount;
        var choicesCount;

        var imgBuffer;

        webcam.start()
            .catch((e) => {
                console.log(e.constraint);
            });

        function snap() {

            imgBuffer = webcam.snap();
            const image = document.createElement("img");
            image.src=imgBuffer;

            image.onload = () => {
                canvasToSend.height = image.height;
                canvasToSend.width = image.width;
                canvasToSend.getContext("2d").drawImage(image, 0, 0);
                webCamElement.parentElement.style.zIndex = "-1";
            }
        }

        function retry() {
            canvasToSend.getContext("2d").clearRect(0, 0, canvasToSend.width, canvasToSend.height);
            webCamElement.parentElement.style.position = "relative";
            webCamElement.parentElement.style.zIndex = "0";
        }

        function send() {
            const url = "/api/exam/review"
            body = {
                "choicesCount": Number(choicesCount),
                "questionCount": Number(questionCount),
                "examPhotoType": 0,
                "examPhoto": imgBuffer
            }

            document.body.classList.add("loading")

            fetch(url, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
            })
                .then(res => res.json())
                .then(data => {
                    if (!("err" in data) || Object.entries(!data["err"]).length === 0) {
                        gabaritoData = data
                        alert("Dados de gabarito e QR salvos");
                        return;
                    }
                    errors = data["err"];

                    errStr = Object.entries(errors).reduce((acc, cur) => acc + `\n${cur[0]}: ${cur[1]}`, '').slice(1);
                    Swal.fire({
                        text: errStr
                    });
                })
                .catch(err => console.log(err))
                .finally(() => {
                    document.body.classList.remove("loading")
                })
        }

        function sendToIbrep() {
            const url = "https://ibrep.alfamaoraculo.com.br/api/set/score";
            // const url = "localhost.ibrep.com.br/api/set/score";

            idmatricula = window.prompt("digite a matricula do aluno em questão")
            iddisciplina = gabaritoData["iddisciplina"]
            nota = gabaritoData["score"]
            idtipo = gabaritoData["idtipo"]
            idmodelo = gabaritoData["idmodelo"]
            protocolo = "prova final"

            body = {
                idmatricula,
                iddisciplina,
                nota,
                idtipo,
                idmodelo,
                protocolo,
            }

            document.body.classList.add("loading")

            fetch(url, {
                method: 'POST',
                body: JSON.stringify(body)
            })
            .then(res => res.json())
                .then(data => {
                    if (!("err" in data)) {
                        alert(`Aluno: ${data["aluno"][0]["aluno"]}\nNota: ${data['nota']}`);
                        return;
                    }
                    errors = data["err"]

                    Object.entries(errors).reduce((acc, cur) => acc + `\n${cur[0]}: ${cur[1]}`, '').slice(1)
                })
                .catch(err => alert(err))
                .finally(() => {
                    document.body.classList.remove("loading")
                })
        }
    </script>
</body>
</html>